<ul data-testId="tile-list" class="w-full transition" 
    [ngClass]="horizontalView()? 'horizontal-list': 'tile-list'" 
>
    
    @for(element of tileData(); track element.id) {
        @let isSelected = selectedItems.has(element.id); 
        <li class="card"
            [ngClass]="{'selected': isSelected, 'bg-lightgrey': isSelected}"
            (click)="select(element.id)" 
            >
            <ng-container 
                [ngTemplateOutlet]="checkBoxVariant()? checkbox : standard"
                [ngTemplateOutletContext]="{$implicit: element}" />
        </li>
    }
</ul>

@let baseUrl = '/assets/images/';
<ng-template #standard let-tileData>
    <div data-testId="standard-tile" [class.flex-tile]="isMobile()">
        <figure class="card-icon" [class.space-bottom]="!isMobile()">
            <img class="size-10" [src]="baseUrl + tileData.icon" [alt]="">
        </figure>
        <div >
            <h3 class="text-primary">{{tileData.title | titlecase}}</h3>
            <p class="text-secondary">{{tileData.priceInfo}}</p>
        </div>
    </div>
</ng-template>

<ng-template #checkbox let-tileData>
    <div class="form-control" data-testId="checkbox-tile">
        <label class="label cursor-pointer">
            <span class="sr-only">Select {{tileData.title}} addon</span>
            <input type="checkbox" class="checkbox checkbox-accent" [checked]="selectedItems.has(tileData.id)">
        </label>
        <div>
            <h3 class="text-primary">{{tileData.title | titlecase}}</h3>
            <p class="text-secondary text-sm">{{tileData.description}}</p>
        </div>
        <div class="ml-auto text-accent">text</div>
    </div>
</ng-template>