@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Ubuntu-Medium.ttf");
}

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}
