@if(isSendingForm()) {
<app-loading-spinner data-testId="spinner" />
}

<app-header [links]="steps" />
<main class="relative">

  <form
    (ngSubmit)="sendForm()"
    [formGroup]="formService.subscriptionForm"
    [attr.aria-label]="activeStepName"
  >
    <div class="relative" [@routeAnimation]="activeStep">
      <router-outlet />
    </div>

    @if(!isFinalPage()) {
      <app-bottom-navigation
        data-testId="bottom-nav"
        class="no-animation"
        (stepChanged)="goToStep($event)"
        [currentStep]="activeStep"
        [totalSteps]="steps.length"
        [enableConfirmBtn]="isFormCompleted"
        [confirmErrorTooltip]="errorTooltipMsg()"
        />
    } @else {
      <app-project-info/>
    }
  </form>
</main>

<app-modal
  [showModal]="apiError()"
  (cancelClick)="apiError.set(false)"
  (okClick)="retry()"
  title="Network error"
  description="Unable to process your request. Retry?"
  />
